### Logistic Regression on Banknote Authentication data

For the banknote authentication(<b>banknote_authentication.txt</b>) data set available in <strong>Exercises/data </strong>folder, build a logistic regression model to predict “class” based on all other attributes.
<br/>Calculate the classification accuracy, precision and recall for the model.

In [1]:
# Write your code here

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seanborn as sns
%matplotlib inline

In [8]:
banknote = pd.read_csv("data/banknote_authentication.txt",header=None)

In [11]:
banknote.columns=["A","B","C","D","Class"]

In [12]:
banknote.head()

         A       B       C        D  Class
0  3.62160  8.6661 -2.8073 -0.44699      0
1  4.54590  8.1674 -2.4586 -1.46210      0
2  3.86600 -2.6383  1.9242  0.10645      0
3  3.45660  9.5228 -4.0112 -3.59440      0
4  0.32924 -4.4552  4.5718 -0.98880      0

In [14]:
banknote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
A        1372 non-null float64
B        1372 non-null float64
C        1372 non-null float64
D        1372 non-null float64
Class    1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [33]:
model = LogisticRegression()
model2 = DecisionTreeClassifier()

In [17]:
X=banknote[["A","B","C","D"]]
y=banknote["Class"]

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=.2,random_state=100)

In [34]:
model.fit(xtrain,ytrain)
model2.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [36]:
model.score(xtrain,ytrain)

0.9908842297174111

In [37]:
model2.score(xtrain,ytrain)

1.0

In [21]:
model.score()

0.9890909090909091

In [22]:
ypredtest=model.predict(xtest)

In [38]:
m2ypredtest=model2.predict(xtest)

In [23]:
ypredtrain=model.predict(xtrain)

In [46]:
m2ypredtrain=model2.predict(xtrain)

In [24]:
confusiontrain=confusion_matrix(ytrain,ypredtrain)

In [40]:
m2confusiontrain=confusion_matrix(ytrain,ypredtrain)

In [25]:
confusiontest=confusion_matrix(ytest,ypredtest)

In [41]:
m2confusiontest=confusion_matrix(ytest,ypredtest)

In [26]:
pd.DataFrame(confusiontrain, columns=model.classes_,index=model.classes_)

     0    1
0  592    7
1    3  495

In [42]:
pd.DataFrame(m2confusiontrain, columns=model2.classes_,index=model.classes_)

     0    1
0  592    7
1    3  495

In [28]:
pd.DataFrame(confusiontest, columns=model.classes_,index=model.classes_)

     0    1
0  160    3
1    0  112

In [43]:
pd.DataFrame(m2confusiontest, columns=model.classes_,index=model.classes_)

     0    1
0  160    3
1    0  112

In [29]:
print(classification_report(ytrain,ypredtrain))

             precision    recall  f1-score   support

          0       0.99      0.99      0.99       599
          1       0.99      0.99      0.99       498

avg / total       0.99      0.99      0.99      1097

In [47]:
print(classification_report(ytrain,m2ypredtrain))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00       599
          1       1.00      1.00      1.00       498

avg / total       1.00      1.00      1.00      1097

In [44]:
print(classification_report(ytest,ypredtest))

             precision    recall  f1-score   support

          0       0.97      0.98      0.97       163
          1       0.96      0.96      0.96       112

avg / total       0.97      0.97      0.97       275

In [48]:
print(classification_report(ytest,m2ypredtest))

             precision    recall  f1-score   support

          0       0.97      0.98      0.97       163
          1       0.96      0.96      0.96       112

avg / total       0.97      0.97      0.97       275